.btn-asistir {
  margin-top: 10px !important;
}

.txt-evento {
  padding: 0 0;
}

.fechaEvento { 
  color: #007aff !important;
}

.asistirEvento {
  text-align: center;
}

.asistir {
  color: #007aff;
  border-top: 1px solid #ececec;
}

.no-asistir .asistirEvento {
  color: #e13838
}

.tipo-evento {
  font-size: 1rem;
  color: #007aff;
}

eventos ion-content{
  background-color: #E1E1E1 !important;
}