<ion-header>
  <ion-toolbar color="prihood">
    <ion-title class='title-page'>Eventos</ion-title>
    <ion-buttons start>
      <button ion-button class="btn-menu" [menuToggle]="activeMenu">
        <img class="logoMenu-img" src="assets/img/logo_menu.png">
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor='let evento of eventos'>
    <ion-item>
      <h2 item-start class='fechaEvento'>
        <b>{{evento.fecha | date }}</b>
      </h2>
      <h2 item-end class='btn-asistir'>{{evento.hora_desde}} - {{evento.hora_hasta}} hs</h2>
    </ion-item>
    <img src="{{evento.imagen}}">
    <ion-card-content>
      <h4 class='tipo-evento'>{{evento.tipo_evento}}</h4>
      <h2>{{evento.titulo}}</h2>
      <p class='txt-evento'>{{evento.descripcion}}
      </p>
    </ion-card-content>
    <ion-item>
      <button ion-button icon-left clear small (click)="comentariosEvento(evento)">
        <ion-icon name="text"></ion-icon>
        <div>Comentarios</div>
      </button>
      <button ion-button icon-right clear item-end (click)="asistenEvento(evento)">
        <div>Asisten </div>
        <ion-badge item-end>{{evento.cantidad_asistentes}}</ion-badge>
      </button>
    </ion-item>
    <ion-item class='asistir' *ngIf='!evento.asiste'>
      <div class='asistirEvento'>
        <button ion-button icon-left clear (click)='confirmarAsistencia(evento)'>
          <div class="asistirEvento">
            <b>Asistir al evento</b>
          </div>
        </button>
      </div>
    </ion-item>
    <ion-item class='no-asistir' *ngIf='evento.asiste'>
      <div class='asistirEvento'>
        <button ion-button icon-left clear (click)='cancelarAsistencia(evento)'>
          <div class="asistirEvento">
            <b>
              <ion-icon name="close" class="cancelarIcono"></ion-icon>
            </b>
            <b>Cancelar asistencia</b>
          </div>
        </button>
      </div>
    </ion-item>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab (click)="registrarEventoPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>