.infoReservas-contenedor{
  text-align: center;
}

.infoReservas{
  color: #003777;
  font-size: 14px;
}

.infoReserva{
  padding: 0 0;
}

.calendarIcon{
  color: #908989;
}

.cancelarReserva{
  text-align: center;
  color: #908989;
}

.cancelarIcono{
  color: #e13838;
}

.cardReservaCancelada{
  opacity: 0.5;
  border-top: 5px solid #f53d3d !important;
}

.reservaCancelada{
  text-align: center;
  color: #e13838;
}

misReservas ion-card{
  border-top: 5px solid #007aff;
  text-align: left !important;
}

misReservas ion-content{
  background-color: #E1E1E1 !important;
}