<ion-header>
  <ion-toolbar color="prihood">
    <ion-title class='title-page'>Amenities</ion-title>
    <ion-buttons start>
      <button ion-button class="btn-menu" [menuToggle]="activeMenu">
        <img class="logoMenu-img" src="assets/img/logo_menu.png">
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="infoReservas-contenedor" *ngIf='noHayReservas()'>
    <p class="infoReservas">
      No existen reservas de amenities agendadas
    </p>
  </div>

  <ion-card *ngFor='let miReserva of reservas'>
    <ion-item>
      <ion-icon class='calendarIcon' item-start name="calendar"></ion-icon>
      <h3 item-start>{{miReserva.reserva.fecha | date: 'dd / MM / yy' }}</h3>
      <h3 item-end>{{miReserva.turno.horario_comienza }} - {{miReserva.turno.horario_fin}} hs</h3>
    </ion-item>
    <ion-item>
      <h2 item-start>{{tipos_amenities[miReserva.amenity.idTipoAmenity].descripcion}}</h2>
      <h2 item-end>{{miReserva.amenity.nombre}}</h2>
    </ion-item>
    <ion-item>
      <div class='cancelarReserva'>
        <button ion-button icon-left clear>
        <b><ion-icon name="close" class="cancelarIcono"></ion-icon></b>
        <div class="cancelarReserva">Cancelar reserva</div>
      </button>
      </div>
    </ion-item>
  </ion-card>
</ion-content>