.fechaComentario{
  padding: 0 0 !important;
}

.publicacion{
  background: #E1E1E1;

  .card-publicacion{
    width: 100%;
    margin: 0;
    padding: 10px 10px;
    background: #003777;
  }

  .titulo-publicacion{
    background-color: #003777;
  }

  h2 {
    color: #ffffff;
  }

  p {
    color: #e0e0e0;
  }
}

.card-comentario{
  p {
    padding: 0 16px;
  }
}

.comentario-usuario{
  color: #007aff !important;
}

.toolbar-background-ios {
    background: rgba(0, 55, 119, 0.4);
}

detallePublicacion .scroll-content{
  background-color: #e0e0e0;
}

.footer-comentario{
  text-align: left !important;
}