.barraBusqueda {
  background: #003777;
}

.tipoServicio{
  background-color: #E1E1E1 !important;
}

.tipoServicio-texto{
  color: #000 !important;
}

proveedores ion-content{
  background-color: #E1E1E1 !important;
}