<ion-header>
  <ion-toolbar color="prihood">
    <ion-title class='title-page'>Servicios</ion-title>
    <ion-buttons start>
      <button ion-button class="btn-menu" [menuToggle]="activeMenu">
        <img class="logoMenu-img" src="assets/img/logo_menu.png">
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--  <ion-searchbar class='barraBusqueda' [(ngModel)]="myInput" (ionInput)="onInput($event)">
  </ion-searchbar>-->

  <ion-list>
    <ion-item class='tipoServicio'>
      <ion-label class='tipoServicio-texto'>Tipo de Servicio</ion-label>
      <ion-select [(ngModel)]="tipo_servicio" interface='popover' (ionChange)="servicioSeleccionado($event)">
        <ion-option value="{{tipo_servicio.id}}" *ngFor='let tipo_servicio of tipos_servicio'>{{tipo_servicio.descripcion}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div *ngIf='noHayProveedores()' class='infoProveedores-contenedor'>
    <p class='infoProveedores'>No hay servicios registrados</p>
  </div>

  <ion-card *ngFor='let proveedor of proveedores'>
    <ion-item>
      <h2>{{proveedor.nombre}}</h2>
    </ion-item>
    <img src="{{proveedor.avatar}}">
    <ion-card-content>
      <p class='descripcionProveedor'>{{proveedor.descripcion}}</p>
    </ion-card-content>
    <ion-item>
      <span item-left>
        <ion-icon name="call" class='iconProveedor'></ion-icon>
          {{proveedor.telefono}}
      </span>
      <span item-right>
        {{proveedor.direccion}}
        <ion-icon name="pin" class='iconProveedor'></ion-icon>
      </span>
    </ion-item>
    <ion-item>
      <span item-left>
          <rating [(ngModel)]="proveedor.rating" readOnly="true"></rating>
        </span>
      <button ion-button icon-right clear item-end (click)='onSelectProveedor(proveedor)'>
        <div class='comentarios'>Comentarios</div>
          <ion-icon name="arrow-dropright-circle"></ion-icon>
        </button>
    </ion-item>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab (click)="pageRegistrarProveedor()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <div class="spacer"></div>


</ion-content>

<ion-footer>
</ion-footer>