.barraBusqueda {
  background: #003777;
}

.tipoServicio{
  background-color: #E1E1E1 !important;
}

.tipoServicio-texto{
  color: #000 !important;
}

.infoProveedores{
  color: #003777;
  font-size: 12px;
}

.infoProveedores-contenedor{
  text-align: center;
}

proveedores ion-content{
  background-color: #E1E1E1 !important;
}