.turnoDisponible{
  color: #32db64;
}

.turnoNoDisponible{
  color: #f53d3d;
}

.infoTurno{
  padding: 0 0;
}

.fechaTurno-contenedor{
  text-align: center;
}

.fechaTurno{
  font-size: 1.8rem !important;
  color: #007aff !important;
}

turnosAmenity ion-content{
  background-color: #E1E1E1 !important;
}