<ion-header>
  <ion-toolbar>
    <ion-title>Reserva de amenity</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <span class="nombreAmenity">
      <h3 class='infoAmenity'><b>{{amenity.nombre}}</b></h3>
    </span>
    <span class='fechaTurno'>
      <h3 class='infoAmenity'>Fecha: <b>{{fecha | date}}</b></h3>
     </span>
  </div>
  <ion-card *ngFor='let turno of turnos' (click)='onSelectTurno(turno)' [ngClass]="{'cardDisponible': !turno.reservado, 'cardNoDisponible': turno.reservado}">
    <ion-card-header>
      <ion-item>
        <h2 item-start>{{turno.horario_comienza }} - {{turno.horario_fin}}</h2>
        <h5 *ngIf='!turno.reservado' item-end class='turnoDisponible'>Disponible</h5>
        <ion-icon *ngIf='!turno.reservado' item-end name="checkmark-circle" class='turnoDisponible'></ion-icon>
        <h5 *ngIf='turno.reservado' item-end class='turnoNoDisponible'>No disponible</h5>
        <ion-icon *ngIf='turno.reservado' item-end name="close-circle" class='turnoNoDisponible'></ion-icon>
      </ion-item>
      <ion-item>
        <p item-start class='infoTurno'>{{turno.nombre}}</p>
        <p item-end class='infoTurno'>Costo: {{turno.costo | currency:'USD':true:'1.0-0'}}</p>
      </ion-item>
    </ion-card-header>
  </ion-card>

</ion-content>