.mensaje{
  background: #E1E1E1;

  .card-mensaje{
    width: 100%;
    margin: 0;
    padding: 10px 10px;
    background: #003777;
  }

  .titulo-mensaje {
    background-color: #003777
  }

  h2 {
    color: #fff;
  }

  p {
    color: #e0e0e0;
  }
}

.card-comentario{
  p {
    padding: 0 16px;
  }
  h3 {
    padding: 0 16px;
  }
}

.comentario-usuario{
  color: #007aff !important;
}

.byMe{
  text-align: right;
}

.byAdministracion{
  text-align: left;
}

.sentByAdmin{
  margin: 12px -5px !important;
}
  
.sentByMe{
  margin: 12px 30px !important;
}

.toolbar-background-ios {
    background: rgba(0, 55, 119, 0.4);
}

chatBoxMensaje .scroll-content{
  background-color: #e0e0e0;
}

.footer-mensaje {
  text-align: left;
}