<ion-header>
  <ion-toolbar color="prihood">
    <ion-title>Comunicación</ion-title>
    <ion-buttons start>
      <button ion-button (click)="volver()">
        <span ion-text color="primary" showWhen="ios">Volver</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="mensaje">
    <ion-card class='card-mensaje'>
      <ion-item class='titulo-mensaje'>
        <h2>Asunto: {{mensaje.titulo}}</h2>
      </ion-item>
      <ion-card-content>
        <p class='textoPublicacion'>{{mensaje.texto}}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngFor='let comentario of comentarios' class='card-comentario' [ngClass]="{'sentByMe': comentario.sent_by_me, 'sentByAdmin' : !comentario.sent_by_me}">
    <ion-item>
      <h3 *ngIf='!comentario.sent_by_me' item-start class='comentario-usuario'>Administración</h3>
      <h3 *ngIf='comentario.sent_by_me' item-end class='comentario-usuario'>Yo</h3>
    </ion-item>
    <ion-card-content [ngClass]="{'byMe': comentario.sent_by_me, 'byAdministracion' : !comentario.sent_by_me}">
      <p>"{{comentario.comentario}}"</p>
      <ion-item>
        <p *ngIf='!comentario.sent_by_me' item-end class='fechaComentario'>{{comentario.fecha | date: 'dd MMM - HH:mm'}}</p>
        <p *ngIf='comentario.sent_by_me' item-start class='fechaComentario'>{{comentario.fecha | date: 'dd MMM - HH:mm'}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <form (ngSubmit)='comentar(comentario)'>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-item no-lines>
              <ion-label stacked>Mensaje</ion-label>
              <ion-textarea [(ngModel)]="comentario.texto" type="text" name="comentario"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-fab bottom right>
        <button ion-fab mini type="submit" id="btnRegistrarProveedor">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-fab>
    </form>
  </ion-toolbar>
</ion-footer>