<ion-header>
  <ion-toolbar color="prihood">
    <ion-title class='title-page'>Comunicaciones</ion-title>
    <ion-buttons start>
      <button ion-button class="btn-menu" [menuToggle]="activeMenu">
        <img class="logoMenu-img" src="assets/img/logo_menu.png">
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="infoBarrio-contenedor">
    <div class="imagen-fondo">
    </div>
    <div class="contenido">
      <p>
        Bienvenido al barrio
      </p>
      <h4>{{nombre_barrio}}</h4>
    </div>
  </div>

  <div class="infoSinPublicaciones" *ngIf='noHayMensajes()'>
    <p>
      No existen mensajes para mostrar.
    </p>
  </div>

  <ion-list>
    <ion-item class='mensaje-directo' *ngFor='let mensaje of mensajesDirectos' (click)='openChatBox(mensaje)'>
      <h2>{{mensaje.titulo}}</h2>
      <p>{{mensaje.texto}}</p>
      <ion-note item-end>{{mensaje.fecha | date:'dd MMM'}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="nuevoMensajeDirecto()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>