  .logoMenu-img{
  border-radius: 50%;
}

.title-page{
  text-align: center;
}

.infoVisitas{
  color: #003777;
  font-size: 14px;
}

.infoVisitas-contenedor{
  text-align: center;
}

.texto-lista{
  padding: 0 0 !important;
}

.texto-nombre{
  line-height: 1.8 !important;  
}