ion-card.adv-map p {
  font-size: 0.7em !important;
  padding: 0 0 !important;
}

button[fab].fab-map {
  top: calc(100% - 35px);
  z-index: 50;
}

.item-bold {
  font-weight: bold;
}

ion-content.cards-bg {
  background-color: #f4f4f7;
}

.botonesOfrecimientos{
  text-align: center;
}

misSolicitudes ion-content{
  background-color: #bdbdbd !important;
}

.infoSolicitudes {
  text-align: center;
  p {
    color: #003777;
  }
}

.toolbar-ios .segment-button {
    max-width: 45%;
    height: 2.6rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.segment-ios .segment-button {
    color: #003777;
    background-color: #007aff;
}

.toolbar-ios-prihood .segment-ios .segment-button.segment-activated {
    color: #fff;
}