<ion-header>
    <ion-toolbar color="prihood">
        <ion-title>Nueva solicitud</ion-title>
        <ion-buttons start>
            <button ion-button (click)="volver()">
        <span ion-text color="primary" showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>

    <div>
        <ion-searchbar (ngModel)='lugarTexto' #lugar (ionInput)='loadAutocompletar()' [showCancelButton]="shouldShowCancel" placeholder='Punto de referencia' cancelButtonText='Cancelar' type='text'>
        </ion-searchbar>
        <ion-list no-lines>
            <ion-item class='fechaFiltro'>
                <ion-label class='fechaLabel'>Fecha</ion-label>
                <ion-datetime (ionChange)="fechaSeleccionada($event)" class='fechaLabel' displayFormat="DD/MM/YY" [(ngModel)]="fechaFiltro"></ion-datetime>
            </ion-item>
        </ion-list>
    </div>

    <div *ngIf="viajes.length === 0">
      No hay viajes disponibles para esta fecha
    </div>

    <ion-card class="adv-map" *ngFor="let viaje of viajes">
        <div style="position: relative">
            <img src="{{viaje.trayectos | imagenMapa: punto}}">
            <ion-fab right top>
                <button ion-fab color="primary">
                  <ion-icon name="pin"></ion-icon>
                </button>
            </ion-fab>
        </div>
        <ion-item>
            <ion-icon color="subtle" large item-start name='pin'></ion-icon>
            <p>Destino</p>
            <h2>{{viaje.saleBarrio? viaje.destino : viaje.nombreBarrio}}</h2>
        </ion-item>
        <ion-item>
            <ion-icon color="subtle" large item-start name='calendar'></ion-icon>
            <p>Fecha</p>
            <h2>{{viaje.fecha | date}}</h2>
        </ion-item>
        <ion-item>
            <ion-icon color="subtle" large item-start name='information-circle'></ion-icon>
            <p>Tipo de viaje</p>
            <h2>Viaje {{viaje.tipo}}</h2>
        </ion-item>
        <ion-item actions>
            <ion-badge color='primary' item-start>{{viaje.autoAsientos}}</ion-badge>
            <p item-start>Asientos disponibles</p>
            <button ion-button color="primary" clear item-end icon-start (click)='verDetalleSolicitud(viaje)'>
            <ion-icon name='navigate'></ion-icon>
              Ver
          </button>
        </ion-item>
    </ion-card>


</ion-content>