nuevaSolicitud {
  .searchbar-ios {
    background: #003777;
  }
  
  ion-content{
    background-color: #bdbdbd !important;
  }
}

.fechaLabel {
    font-size: 1.4rem;
    color: #fff;
}

.fechaFiltro {
  background-color: #003777;
}