.avatar-visitante{
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

.avatar-visitante{
  min-width: 100px;
  min-height: 100px;
}

.img-visitante{
  width: 100px !important;
  height: 100px !important;
}

.nombre-visitante-texto{
  font-size: 2.8rem !important;
}

.texto-visitante{
  font-size: 1.9rem !important;
}

.nombre-visitante{
  text-align: center;
}

.info-visitante{
  text-align: center;
}

.spacer{
  width: 100%;
  height: 25px;
}

.spacer-card{
  width: 100%;
  height: 15%;
}

.detalle-visitante{
  background-color: #003777 !important;
}