<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de Visita</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Volver</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class='detalle-visitante'>
  <div class='spacer-card'></div>
  <ion-card class='card-visitante'>
    <ion-item *ngIf='esVisitanteFrecuente()'>
      <ion-avatar class='avatar-visitante'>
        <img class='img-visitante' src='{{visitante.avatar}}'>
      </ion-avatar>
    </ion-item>
    <div class='contenedor-iconVisitante' *ngIf='!esVisitanteFrecuente()'>
      <ion-icon name='person' item-start class='icon-visitante'></ion-icon>
    </div>
    <div class='nombre-visitante'>
      <h1 class='nombre-visitante-texto'><b>{{visitante.apellido}}, {{visitante.nombre}}</b></h1>
      <p *ngIf='esVisitanteFrecuente()'>(Visita Frecuente)</p>
      <p *ngIf='!esVisitanteFrecuente()'>(Visita próxima)</p>
    </div>
    <ion-card-content>
      <div class='info-visitante'>
        <h3 class='texto-visitante'>{{nombre_tipo_documento[visitante.id_tipo_documento - 1]}}: <b>{{visitante.numero_documento}}</b></h3>
        <h3 class='texto-visitante' *ngIf='esVisitanteFrecuente()'>Pantente: <b>{{visitante.patente}}</b></h3>
        <h3 class='texto-visitante' *ngIf='!esVisitanteFrecuente()'>Fecha: <b>{{visitante.fecha_visita | date}}</b></h3>
        <div class='spacer'></div>
        <p>Observaciones:</p>
        <p>{{visitante.observaciones}}</p>
        <p *ngIf='noExistenObservaciones()'>Ninguna</p>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>