page-home {

 #page {
    background-color : #003777;
 }

 #logo {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 #login-button {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

}
