page-home {

 #page {
    background-color : #003777;
 }

 #spacer1{
     width:300px;
     height:148px;
 }

 #spacer2{
     width:300px;
     height:70px;
 }

 #logo {
   display:block;
   width:100%;
   height:auto;
   margin-left:auto;
   margin-right:auto;
 }

}
