.btnRegistrar{
    width:80%;
    align-content: center;
    margin-left:auto;
    margin-right:auto;
    background-color : #003777;
 }

 #btnRegistrarUsuario{
   color: #ffffff;
 }

 .imagenVisita-contenedor{
  align-content: center;
  text-align: center;
}

.imagenVisita-btn{
  width: 75px;
  height: 75px;
}