<ion-header>
    <ion-toolbar color="prihood">
        <ion-title>Detalle de solicitud</ion-title>
        <ion-buttons start>
            <button ion-button (click)="volver()">
        <span ion-text color="primary" showWhen="ios">Volver</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="{{viaje.trayectos | imagenMapa}}">
    </ion-card>
    <ion-card class="card-default">
        <ion-item>
            <p>Conductor</p>
            <h2>{{viaje.residente}}</h2>
        </ion-item>
        <ion-list no-lines>
            <ion-item>
                <ion-icon color="primary" small item-start name='pin'></ion-icon>
                <p>Desde</p>
                <h2>{{viaje.saleBarrio?viaje.nombreBarrio:viaje.destino}}</h2>
            </ion-item>
            <ion-item>
                <ion-icon color="primary" small item-start name='pin'></ion-icon>
                <p>Hasta</p>
                <h2>{{!viaje.saleBarrio?viaje.nombreBarrio:viaje.destino}}</h2>
            </ion-item>
        </ion-list>
        <ion-list no-lines>
            <ion-item>
                <ion-icon color="subtle" small item-start name='information-circle'></ion-icon>
                <p>Tipo</p>
                <h2>Viaje {{viaje.tipo}}</h2>
            </ion-item>
            <ion-item>
                <ion-icon color="subtle" small item-start name='calendar'></ion-icon>
                <p>Fecha</p>
                <h2>{{viaje.fecha | date}}</h2>
            </ion-item>
            <ion-item>
                <ion-icon color="subtle" small item-start name='alarm'></ion-icon>
                <p>Hora</p>
                <h2>{{viaje.hora}}</h2>
            </ion-item>
        </ion-list>
        <ion-item>
            <ion-icon small item-start name='car'></ion-icon>
            <p>Información</p>
            <h2>Automóvil</h2>
        </ion-item>
        <ion-item>
            <ion-list no-lines>
                <ion-item>
                    <h3 item-start>Modelo: </h3>
                    <h3 item-end><b>{{viaje.autoModelo}}</b></h3>
                </ion-item>
                <ion-item>
                    <h3 item-start>Color: </h3>
                    <h3 item-end><b>{{viaje.autoColor}}</b></h3>
                </ion-item>
                <ion-item>
                    <h3 item-start>Patente: </h3>
                    <h3 item-end><b>{{viaje.autoPatente}}</b></h3>
                </ion-item>
            </ion-list>
        </ion-item>
        <ion-list no-lines>
            <ion-item>
                <ion-icon small item-start name='document'></ion-icon>
                <h2>Observaciones</h2>
            </ion-item>
            <ion-item>
                <p class='observaciones'>{{viaje.observaciones || 'Ninguna'}}</p>
            </ion-item>
        </ion-list>
        <ion-list no-lines *ngIf="viaje.estado !== null">
            <ion-item>
                <ion-badge *ngIf="viaje.estado === 'Aceptada' " color='primary' item-end>{{viaje.estado}}</ion-badge>
                <ion-badge *ngIf="viaje.estado === 'Pendiente' " color='pendiente' item-end>{{viaje.estado}}</ion-badge>
                <ion-badge *ngIf="viaje.estado === 'Rechazada' " color='danger' item-end>{{viaje.estado}}</ion-badge>
            </ion-item>
        </ion-list>
        <ion-list no-lines *ngIf="viaje.autoAsientos === 0">
            <ion-item>
                <ion-badge color='pendiente' item-start>No quedan asientos</ion-badge>
            </ion-item>
        </ion-list>
    </ion-card>

    <!-- @FIXME: sino tiene estado.. quiere decir que no hay solicitud -->
    <ion-card *ngIf="!viaje.estado && viaje.autoAsientos > 0">
        <button ion-item (click)="solicitarViajeConfirmar()">
          Solicitar unirme al viaje
        </button>
    </ion-card>

</ion-content>