.infoAsistentes{
  color: #003777;
  font-size: 14px;
}

.infoAsistentes-contenedor{
  text-align: center;
}

.footer {
  background-color: #003777;
  div {
    text-align: center;
    p {
      color: #fff;
      font-size: 1.3rem;
      b {
        color: #007aff;
      }
    }
  }
}