.informacionBarrio-contenedor{
  align-content: center;
  text-align: center;
}

.informacionBarrio-titulo{
  color: #003777;  
}

.imagenUsuario-contenedor{
  align-content: center;
  text-align: center;
}

.imagenUsuario{
  border-radius: 50px;
}

.imagenUsuario-btn{
  width: 100px;
  height: 75px;
}

.btnRegistrar{
    width:80%;
    align-content: center;
    margin-left:auto;
    margin-right:auto;
    background-color : #003777;
 }

 #btnRegistrarUsuario{
   color: #ffffff;
 }

.informacionResidencia-titulo{
  color: #003777;  
  font-size: 14px;
  line-height: 0.50;
  
}

.informacionBarrio-titulo{
  color: #003777;  
  font-size: 17px;
  line-height: 0.50;
}

.informacionResidencia-ubicacion{
  color: lightslategrey;  
  font-size: 12px;  
  line-height: 0;
  
}

.errorValidacion {
  color: #d02222 !important;
  padding: 0 0;
}