.informacionBarrio-contenedor{
  align-content: center;
  text-align: center;
}

.informacionBarrio-titulo{
  color: #003777;  
}

.imagenUsuario-contenedor{
  align-content: center;
  text-align: center;
}

.imagenUsuario{
  font-size: 70px;
}

.imagenUsuario-btn{
  width: 70px;
  height: 70px;
}

.btnRegistrar{
    width:80%;
    align-content: center;
    margin-left:auto;
    margin-right:auto;
    background-color : #003777;
 }

 #btnRegistrarUsuario{
   color: #ffffff;
 }

.informacionResidencia-titulo{
  color: #003777;  
}

.informacionBarrio-titulo{
  color: #003777;  
  font-size: 16px;
  line-height: 0.75;
}