<ion-header>
  <ion-navbar>
    <ion-title>Registrar usuario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>



  <ion-list>
    <form [formGroup]="form" (submit)="registrarUsuario()">
      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <div class="informacionBarrio-contenedor">
              <p class="informacionBarrio-titulo">"
                <b>{{barrio.nombre}}</b>"</p>
              <p class="informacionResidencia-titulo">{{residencia.nombre}}</p>
              <p class="informacionResidencia-ubicacion">{{residencia.ubicacion}}</p>
            </div>
          </ion-col>
          <ion-col col-4>
            <cargar-foto formControlName='avatar' [size]='80'></cargar-foto>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label stacked>Nombre</ion-label>
              <ion-input formControlName="nombreUsuario" type="text"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="!form.controls.nombreUsuario.valid && !form.controls.nombreUsuario.pending && (form.controls.nombreUsuario.dirty || submitAttempt)">
              <p class='errorValidacion'>Nombre inválido</p>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label stacked>Apellido</ion-label>
              <ion-input formControlName="apellidoUsuario" type="text"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="!form.controls.apellidoUsuario.valid && !form.controls.apellidoUsuario.pending && (form.controls.apellidoUsuario.dirty || submitAttempt)">
              <p class='errorValidacion'>Apellido inválido</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label stacked>Email</ion-label>
              <ion-input formControlName="emailUsuario" type="email"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="!form.controls.emailUsuario.valid && !form.controls.emailUsuario.pending && (form.controls.emailUsuario.dirty || submitAttempt)">
              <p class='errorValidacion'>Email inválido</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label stacked>Contraseña</ion-label>
              <ion-input formControlName="passwordUsuario" type="password"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label stacked>Confirme contraseña</ion-label>
              <ion-input formControlName="confirmacionPasswordUsuario" type="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label stacked>Fecha de Nacimiento</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" formControlName="fechaNacimientoUsuario"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label stacked>Tel. Móvil</ion-label>
              <ion-input formControlName="telefonoUsuario" type="tel"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="!form.controls.telefonoUsuario.valid && !form.controls.telefonoUsuario.pending && (form.controls.telefonoUsuario.dirty || submitAttempt)">
              <p class='errorValidacion'>Teléfono inválido</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            <ion-item>
              <ion-label stacked>Tipo Documento</ion-label>
              <!--crear servicio y API para tipos de documento!-->
              <ion-select formControlName="tipoDocumentoUsuario">
                <ion-option value="1">DNI</ion-option>
                <ion-option value="2">LE</ion-option>
                <ion-option value="3">CI</ion-option>
                <ion-option value="4">Otro</ion-option>
              </ion-select>
            </ion-item>
            <ion-item no-lines *ngIf="!form.controls.tipoDocumentoUsuario.valid && !form.controls.tipoDocumentoUsuario.pending && (form.controls.tipoDocumentoUsuario.dirty || submitAttempt)">
              <p class='errorValidacion'>Seleccione uno</p>
            </ion-item>
          </ion-col>
          <ion-col col-7>
            <ion-item>
              <ion-label stacked>Número</ion-label>
              <ion-input formControlName="numeroDocumentoUsuario" type="number"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="!form.controls.numeroDocumentoUsuario.valid && !form.controls.numeroDocumentoUsuario.pending && (form.controls.numeroDocumentoUsuario.dirty || submitAttempt)">
              <p class='errorValidacion'>Número inválido</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="btnRegistrar">
        <button ion-button outline block id="btnRegistrarUsuario" type="submit" [disabled]="!form.valid">Registrar</button>
      </div>
    </form>
  </ion-list>

</ion-content>