<ion-header>
  <ion-toolbar color="prihood">
    <ion-title>Registrar servicio</ion-title>
    <ion-buttons start>
      <button ion-button (click)="volver()">
        <span ion-text color="primary" showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-12 class='infoRegistroProveedor-container'>
      <p class="infoRegistroProveedor">
        Ingresa los datos del proveedor de servicio y ayuda a tus vecinos a descubrirlos
      </p>
    </ion-col>
  </ion-row>

  <form [formGroup]="formProveedor" (ngSubmit)="registrarProveedor()">
    <ion-list>
      <ion-grid>

        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label stacked>Tipo de Servicio</ion-label>
              <ion-select formControlName="id_tipo_servicio" interface='popover' (ionChange)='servicioSeleccionado($event)' name="id_tipo_servicio">
                <ion-option value="{{tipo_servicio.id}}" *ngFor='let tipo_servicio of tipos_servicio'>{{tipo_servicio.descripcion}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-7>
            <ion-item>
              <ion-label stacked>Nombre</ion-label>
              <ion-input type="text" formControlName="nombre" type="text" name="nombre"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="!formProveedor.controls.nombre.valid && !formProveedor.controls.nombre.pending && (formProveedor.controls.nombre.dirty || submitAttempt)">
              <p class='errorValidacion'>Nombre inválido</p>
            </ion-item>
          </ion-col>
          <ion-col col-5>
            <ion-item>
              <ion-label stacked>Teléfono</ion-label>
              <ion-input type="number" formControlName="telefono" type="number" name="telefono"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="!formProveedor.controls.telefono.valid && !formProveedor.controls.telefono.pending && (formProveedor.controls.telefono.dirty || submitAttempt)">
              <p class='errorValidacion'>Teléfono inválido</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label stacked>Dirección</ion-label>
              <ion-input formControlName="direccion" type="text" name="direccion"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="!formProveedor.controls.direccion.valid && !formProveedor.controls.direccion.pending && (formProveedor.controls.direccion.dirty || submitAttempt)">
              <p class='errorValidacion'>Dirección inválida</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label stacked>Descripcion</ion-label>
              <ion-textarea formControlName="descripcion" type="text" name="descripcion"></ion-textarea>
            </ion-item>
            <ion-item no-lines *ngIf="!formProveedor.controls.descripcion.valid && !formProveedor.controls.descripcion.pending && (formProveedor.controls.descripcion.dirty || submitAttempt)">
              <p class='errorValidacion'>Ingrese una descripción</p>
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-list>

    <div class="btnRegistrar">
      <button ion-button block outline block type="submit" id="btnRegistrarProveedor" [disabled]="!formProveedor.valid">Registrar</button>
    </div>
  </form>

</ion-content>