.infoAmenities-contenedor{
  text-align: center;
}

.infoAmenities{
  color: #003777;
  font-size: 14px;
}

.icono-amenity{
  width: 50px;
  opacity: 0.8;
}

.infoAmenity-lista{
  padding: 0 0 !important;
}

.infoAmenity-tipo{
  padding: 0 0 !important;
  color: #007aff !important;
}

.descripcionAmenity{
  margin: 8px 0px 8px 0;
}

.card-background-page .card-title {
  font-weight: normal !important;
}

.estadoAmenity{
  color: #32db64 !important;
  padding: 0 0;
}

.ubicacionAmenity{
  padding: 0 0 !important;
}

.iconButton{
  color: #007aff;
}

listaAmenities ion-content{
  background-color: #E1E1E1 !important;
}

listaAmenities ion-card{
  border-top: 5px solid #007aff;
  text-align: left !important;
}

listaAmenities ion-item{
  font-size: 1.4rem !important;
  color: #8e9093;
}