<ion-header>
  <ion-toolbar color="prihood">
    <ion-title>Amenities</ion-title>
    <ion-buttons start>
      <button ion-button (click)="volver()">
        <span ion-text color="primary" showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-list>
    <ion-item>
      <ion-label>Fecha: </ion-label>
      <ion-datetime displayFormat="MMMM DD, YYYY" pickerFormat="DD MMM YY" min='2017' max='2030' [(ngModel)]="fecha" (ionChange)="fechaSeleccionada($event)"
        monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, set, oct, nov, dic"></ion-datetime>
    </ion-item>
  </ion-list>

  <div class="infoAmenities-contenedor" *ngIf='noHayAmenities()'>
    <p class="infoAmenities">
      No existen turnos disponibles para esta fecha.
    </p>
  </div>

  <ion-card *ngFor='let amenity of amenities' (click)='onSelectAmenity(amenity)'>
    <ion-item>
      <h2 item-start>{{amenity.nombre}}</h2>
      <p item-end class='infoAmenity-tipo'>{{amenity.ubicacion}}  <ion-icon name="pin" class='iconButton'></ion-icon></p>
    </ion-item>
    <ion-card-content>
      <ion-item>
        <span item-left class='descripcionAmenity'>
          <p class='infoAmenity-lista'>{{amenity.descripcion}}</p>
      </span>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>