#menuPage {
    height: 100%;
    background-color : #003777 !important;
 }

 .tituloMenu{
    color: #ffffff;
 }

 #menuPrincipal-contenido{
    height: 100%;
    color: #003777; 
 }

 .footer-contenedor{
    background-color: #003777;
    height: 9%;
 }

 .infoBarrio{
     padding: 0 0;
 }

 .footer-logo{
    display: block;
    align-content: center;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    padding: 15px;
 }
