 #page-qr,
 page-qr {
     background: none;
 }
 
 .scan {
     width: 300px;
     border: solid 3px red;
     height: 300px;
     margin: 40% auto;
 }
 
 ion-app {
     background: transparent!important;
 }